[submodule "themes/butterfly"]
	path = themes/butterfly
	url = https://github.com/jerryc127/hexo-theme-butterfly
[submodule "themes/fluid"]
	path = themes/fluid
	url = https://github.com/fluid-dev/hexo-theme-fluid
[submodule "themes/volantis"]
	path = themes/volantis
	url = https://github.com/volantis-x/hexo-theme-volantis
[submodule "themes/solitude"]
	path = themes/solitude
	url = https://github.com/everfu/hexo-theme-solitude
[submodule "themes/rebirth"]
	path = themes/rebirth
	url = https://github.com/Candinya/Kratos-Rebirth
[submodule "themes/redefine"]
	path = themes/redefine
	url = https://github.com/EvanNotFound/hexo-theme-redefine
